version: '3.8'
services:
  collaboration-service:
    build: .
    container_name: collaboration_service
    ports:
      - "8082:8082"
    environment:
      SERVER_PORT: 8082
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/collaboration_service?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: mr.mime
      SPRING_DATASOURCE_PASSWORD: StudyBuddy*123

    depends_on:
      - mysql
      - minio
    restart: on-failure

  mysql:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: StudyBuddy*123
      MYSQL_DATABASE: collaboration_service
      MYSQL_USER: mr.mime
      MYSQL_PASSWORD: StudyBuddy*123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Web UI
    volumes:
      - minio_data:/data

volumes:
  mysql_data:
  minio_data:
