version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ThePantProject
      MYSQL_DATABASE: collaboration_service
      MYSQL_USER: mr.mime
      MYSQL_PASSWORD: ThePantProject
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: