name: Build & Push Docker Image

on:
  pull_request:
    types: [closed]
    branches:
      - main

  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to build and push"
        required: true
        default: "main"

jobs:
  build-and-push:
    if: |
      github.event_name == 'workflow_dispatch' ||
      github.event.pull_request.merged == true

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch || github.event.pull_request.head.ref }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Extract branch name
        id: vars
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            BRANCH_NAME="${{ github.event.inputs.branch }}"
          else
            BRANCH_NAME="${{ github.event.pull_request.head.ref }}"
          fi

          SAFE_BRANCH_NAME=$(echo "$BRANCH_NAME" | tr '/' '-')
          echo "branch=$SAFE_BRANCH_NAME" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/collaboration-service:${{ steps.vars.outputs.branch }}
            ${{ secrets.DOCKER_USERNAME }}/collaboration-service:latest
